@page "/organigramme-page"
@using System.Text
@using digiuserslib

<PageTitle>Organigramme</PageTitle>

<h1>Ville de Seraing</h1>

<div>@DebugText</div>

<MermaidDiagram Definition="@Organigram" />

@code {
  string Organigram = @"
flowchart TD
    adambr[Bruno Adam
    **Directeur Général**]
    paparal[Alexandra Paparelli
    ##Directrice Générale adjointe]
    subgraph Direction
        direction LR
        adambr <--> paparal
    end

    reiser[Eric Reis,
    Responsable travaux]
    bultoca[Conseillère énergie
    Catherine Bultot]
    subgraph Travaux
      reiser --> bultoca
    end


    bollylu[Luc Bolly
    **Responsable IT**]

    verdal[Alain Verdin
    Support]

    fernmi[Miguel Fernandez
    Support]

    grisfr[Frédéric Gris
    Support]

    menarna[Nathalie Ménart
    Administratif]

    subgraph Informatique
      bollylu --> verdal
      bollylu --> fernmi
      bollylu --> grisfr
      bollylu --> menarna
    end

    Direction --> Travaux
    Direction --> Informatique
";
  string DebugText = "";

  private IDataSource? DataSource;

  List<IPerson> People = [];

  // protected override async Task OnInitializedAsync() {
  //   DataSource = new TDataSourceWebWithCache(new Uri("http://localhost:1234"));
  //   if (!await DataSource.OpenAsync()) {
  //     return;
  //   }
  //   if (await DataSource.ReadAsync()) {
  //     People.Clear();
  //     //People.AddRange(DataSource.GetPeople());
  //   }
  //   TMermaidConverter MermaidConverter = new TMermaidConverter(DataSource);
  //   DebugText = MermaidConverter.BuildOrganigram().Replace("\n","\r\n");
  //   Organigram = MermaidConverter.BuildOrganigram();
  //   StateHasChanged();
  // }


}

